In [5]:
import numpy as np
import pandas as pd
import chardet

# Read files

Note:  
The etf.csv file is encoded in __big5__  
The share.csv file is encoded in __big5hkscs__

In [58]:
df_etf = pd.read_csv('./DataSet_20180331/tetfp.csv', encoding='big5')
print("ETF data size: {}".format(df_etf.shape[0]))
df_etf.head()

ETF data size: 18747

   代碼        日期              中文簡稱  開盤價(元)  最高價(元)  最低價(元)  收盤價(元)      成交張數(張)
0  50  20130102  元大台灣50             54.00   54.65   53.90   54.40       16,487
1  50  20130103  元大台灣50             54.90   55.05   54.65   54.85       29,020
2  50  20130104  元大台灣50             54.85   54.85   54.40   54.50        9,837
3  50  20130107  元大台灣50             54.55   54.55   53.90   54.25        8,910
4  50  20130108  元大台灣50             54.00   54.20   53.65   53.90       12,507

In [60]:
df_share = pd.read_csv('./DataSet_20180331/tsharep.csv', encoding='big5hkscs')
print("Share data size: {}".format(df_share.shape[0]))
df_share.head()

Share data size: 1983973

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     代碼        日期                中文簡稱 開盤價(元) 最高價(元) 最低價(元) 收盤價(元)      成交張數(張)
0  1101  20130102  台泥                  38.95   39.1  38.65     39        6,374
1  1101  20130103  台泥                   39.5   39.5  38.75  38.85        9,710
2  1101  20130104  台泥                   39.4  39.45   38.6     39        8,682
3  1101  20130107  台泥                   39.1   39.1  38.65   38.9        5,067
4  1101  20130108  台泥                   38.9   39.1   38.2   38.5        6,454

# Data Exploration

In [52]:
df_tsharep['中文簡稱'].unique().shape

(1684,)